<div class="card m-3">
  <h2>Hallo {{ userName }}</h2>
  <div *ngFor="let event of events$ | async">
    <p>
      Das nächste Team Event muss geplant werden. Du hast noch
      <strong class="text-4xl text-blue-500">{{
        3 - getVotesByEventId(event.id)
      }}</strong>
      Votes für dieses Event übrig, welche du beliebig auf die einzelnen
      Vorschläge verteilen kannst.
    </p>
    <p-divider></p-divider>
    <p-table [value]="event.proposals">
      <ng-template pTemplate="header">
        <tr>
          <th>Vorschlag</th>
          <th>Beschreibung</th>
          <th>Deine Votes</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proposal>
        <tr>
          <td>
            <b>{{ proposal.title }}</b>
          </td>
          <td>{{ proposal.description }}</td>
          <td>
            <i
              (click)="rmoveProposalVote(event, proposal)"
              class="pi pi-heart-fill hover:text-700"
              style="color:red;cursor:pointer"
              *ngFor="
                let votes of getSubmittedProposalVotesByProposalId(
                  event,
                  proposal
                )
              "
            ></i>
          </td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-heart-fill"
              iconPos="left"
              (click)="voteForProposal(event, proposal)"
              [disabled]="hasNoVotesLeft(event)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<h1></h1>

<p></p>
