<h1>Hallo {{ userName }}</h1>

<p>Folgende Team Events stehen demnächst an und müssen geplant werden:</p>
<ng-container *ngFor="let event of events$ | async">
  <p>
    Du hast noch {{ 3 - getVotesByEventId(event.id) }} Votes für dieses Event
    übrig, welche du beliebig auf die einzelnen Events verteilen kannst.
  </p>
  <table>
    <thead>
      <th>Vorschlag</th>
      <th>Beschreibung</th>
      <th>Deine Votes</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of event?.proposals">
        <td>
          <label>{{ proposal.title }}</label>
        </td>
        <td>
          <small>{{ proposal.description }}</small>
        </td>
        <td>
          {{ getSubmittedProposalVotesByProposalId(event, proposal).length }}
        </td>
        <td>
          <button type="button" (click)="voteForProposal(event, proposal)">
            +
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
