<h1>Hallo {{ userName }}</h1>

<p>Folgende Team Events stehen demnächst an und müssen geplant werden:</p>
<ng-container *ngFor="let event of events$ | async">
  <p>
    Du hast noch {{ 3 - getVotesByEventId(event.id) }} Votes für dieses Event
    übrig, welche du beliebig auf die einzelnen Vorschläge verteilen kannst.
  </p>
  <table>
    <thead>
      <th class="p-4">Vorschlag</th>
      <th class="p-4">Beschreibung</th>
      <th class="p-4">Deine Votes</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of event?.proposals">
        <td class="p-4">
          <label>{{ proposal.title }}</label>
        </td>
        <td class="p-4">
          <small>{{ proposal.description }}</small>
        </td>
        <td class="p-4">
          <label>
            {{ getSubmittedProposalVotesByProposalId(event, proposal).length }}
          </label>
        </td>
        <td class="p-4">
          <button
            class="bg-green-500"
            type="button"
            [disabled]="hasNoVotesLeft(event.id)"
            (click)="voteForProposal(event, proposal)"
          >
            +
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
