table td {
  vertical-align: top;
  padding: 0.5rem;
}

table th {
  padding: 0.5rem;
  vertical-align: center;
  background: #333;
  color: #ccc;
}

table td label,
table td small {
  color: #4b68c5;
}

button {
  background: #4b68c5;
  color: #eee;
  border-radius: 10%;
  padding: 0.15rem 0.2rem;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  background: #738ad4;
}
button:disabled {
  background: #8798cf;
  color: #333;
}
