<div
  class="
    w-full
    h-screen
    flex flex-grow-1
    justify-content-center
    align-items-center
  "
>
  <p-card>
    <div class="w-full flex-column flex-grow-1 justify-content-center">
      <div>
        <h2 class="mb-2 mt-0">ciao adessi!</h2>
        <h4 class="mb-4">Bitte melde dich mit deinem Namen an.</h4>
      </div>
      <input class="w-full" pInputText type="text" [(ngModel)]="userName" />
    </div>
    <ng-template pTemplate="footer">
      <div class="w-full flex flex-grow-1 justify-content-end">
        <button
          pButton
          [disabled]="!userName || !userName.length"
          (click)="login()"
        >
          Anmelden
        </button>
      </div>
    </ng-template>
  </p-card>
</div>
